language: go

go:
  - 1.14.x

services:
  - docker

before_install:
  - docker pull minio/minio
  - bash download_jotfs_binary.sh
  - go get -t -v ./...

script:
  - bash run-tests.sh

after_success:
  - bash <(curl -s https://codecov.io/bash)